@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    --clr-white: #fff;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.2s linear;
    --radius: 0.50rem;
    letter-spacing: var(--spacing);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background-color: var(--clr-flip);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

main {
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
    width: 350px;
}

.btn-hero {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    }

.btn-hero:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

.ptxt {
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}

.progress {
    background: rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 10px;
    width: 350px;
  }
  
  .progress-value {
    animation: load 5s normal forwards;
    box-shadow: 0 10px 40px -10px rgb(0, 0, 0);
    border-radius: 100px;
    background: rgb(0, 0, 0);
    height: 10px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }